# Plantilla de variables de entorno para Docker Compose
# Renombrar este archivo a ".env" en el servidor de producción (NUNCA SUBIR A GIT)

CLOUDFLARE_TUNNEL_TOKEN=cloudflared.exe service install eyJhIjoiZTJkNTNlYTExNTg4ZjViZmIxZTVmZTZiNjBhYzY0MjgiLCJ0IjoiM2EzOWE0YWUtY2JiMi00OTdlLTg5YTktNzk1OWE5MDE0NmUwIiwicyI6Ik5EWTRNREF3WmpVdE9XVXlPUzAwWlRBd0xXRTJNRFl0TVdabE9UTTVNbUU0T1RVdyJ9
